Frappe/**
.vagrent/**
.bench
frappe-bench/
.bash_history
.cache/
.node-gyp/
.npm/
.ssh/
.v8flags.5.1.281.103.63623900c8bbf21c706c45dcb7a2c083.json
.vagrant/
.vim/
.viminfo
get-pip.py
install.py
install.py.1
passwords.txt
test/
vagrant_setup_info.sh
